@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* custom css ... */

@font-face {
    font-family: pixel;
    src: url(./assets/Font/PixelifySans.ttf);
}
.pixel {
    font-family: pixel;
}

@font-face {
    font-family: jersey;
    src: url(./assets/Font/Jersey15-Regular.ttf);
}
.pixel1 {
    font-family: jersey;
}

.text-outline {
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

@keyframes move {
    0% {
        transform : translate(0);
    }
    50% {
        transform: translate(0, 1000px);
    }
    100% {
        transform: translate(0)
    }
}

.move {
    animation: move 10s ease forwards infinite;
}